<mat-horizontal-stepper>
  <mat-step label="Table_name">
    <mat-form-field>
      <input [(ngModel)]="tableName" matInput placeholder="Enter Table Name">
     
    </mat-form-field>
    
    <button mat-button matStepperNext>Next</button>
   
    


  </mat-step>


 <!-- Mat Step 2: Column_type -->
<mat-step label="Column_type">
  <app-my-grid ></app-my-grid>
  <button mat-button  matStepperNext>
   Next
  </button>
  <button mat-button matStepperPrevious>Previous</button>
  <button mat-button >Enregistrer</button>
</mat-step>



  
  <mat-step label="Data">
    <app-data-aggrid></app-data-aggrid>
    <button mat-button matStepperPrevious>Previous</button>
    
    


   
  </mat-step>
</mat-horizontal-stepper>
